# Auto detect text files and perform LF normalization
* text=auto
*.uproject filter=lfs diff=lfs merge=lfs
*.umap filter=lfs diff=lfs merge=lfs
*.umaterial filter=lfs diff=lfs merge=lfs
*.uasset filter=lfs diff=lfs merge=lfs
*.png filter=lfs diff=lfs merge=lfs
*.jpg filter=lfs diff=lfs merge=lfs
*.wav filter=lfs diff=lfs merge=lfs
*.mp3 filter=lfs diff=lfs merge=lfs
*.mp4 filter=lfs diff=lfs merge=lfs
*.fbx filter=lfs diff=lfs merge=lfs
*.obj filter=lfs diff=lfs merge=lfs
*.dll filter=lfs diff=lfs merge=lfs
*.exe filter=lfs diff=lfs merge=lfs
*.build filter=lfs diff=lfs merge=lfs